{% extends 'base_single.html' %}

{% block head_title %}เข้าสู่ระบบ{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>เข้าสู่ระบบ</h1>

    <form method="POST" action="{% url auth_login %}" class="form-stacked">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item">
        <label for="id_email">อีเมล</label>
        <div class="input">{{form.email}}{{form.email.errors}}</div>
      </div>

      <div class="item">
        <label for="id_password">รหัสผ่าน</label>
        <div class="input">{{form.password}}{{form.password.errors}}</div>
      </div>

      <input type="hidden" name="next" value="{{next}}" />

      <div class="form_actions">
        <button type="submit" class="btn btn-primary login_button">เข้าสู่ระบบ</button>
        <a href="/accounts/password_reset/">ลืมรหัสผ่าน?</a>
      </div>
    </form>
    
  </div>
</div>
{% endblock %}
