{% extends 'base_single.html' %}

{% block head_title %}ขอรหัสผ่านใหม่{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>ตั้งรหัสผ่านใหม่</h1>
    
    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item"><label for="id_new_password1">รหัสผ่านใหม่</label><div class="input">{{form.new_password1}}{{form.new_password1.errors}}</div></div>
      <div class="item"><label for="id_new_password2">รหัสผ่านใหม่อีกครั้ง</label><div class="input">{{form.new_password2}}{{form.new_password2.errors}}</div></div>

      <div class="form_actions">
        <button type="submit" class="btn btn-primary">ตั้งรหัสผ่านใหม่</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
