{% extends 'base_single.html' %}

{% block head_title %}ตั้งรหัสผ่านใหม่{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>ตั้งรหัสผ่านใหม่</h1>

    <form method="POST" action="." class="form-stacked">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item">
        <label for="id_email">อีเมล</label>
        <div class="input">{{form.email}}{{form.email.errors}}</div>
      </div>

      <div class="form_actions">
        <button type="submit" class="btn btn-primary login_button">ตกลง</button>
      </div>
    </form>
    
  </div>
</div>
{% endblock %}
