{% extends 'base_authenticated.html' %}

{% block head_title %}ไฟล์เอกสาร{% endblock %}

{% block html_head %}
{{block.super}}

{% endblock %}

{% block body_authenticated %}

<div class="container-fluid container-body documents_page">
{% comment %}{% include 'document/snippets/documents_sidebar.html' %}{% endcomment %}

<div class="content"><div class="content-inner">
  <h2>{% if shelf_type == 'all' %}ไฟล์ทั้งหมด{% endif %}{% if shelf_type == 'none' %}ไฟล์ที่ไม่อยู่ในชั้นหนังสือ{% endif %}{% if shelf %}<span>ชั้นหนังสือ</span>{{shelf.name}}{% endif %}</h2>

  {% comment %}
  {% if shelf %}
    <div class="page_actions">
      {% can user 'upload_shelf' organization=organization shelf=shelf %}<a href="{% url upload_documents_to_shelf organization.slug shelf.id %}" class="btn primary upload_publication_button"><span>อัพโหลดไฟล์</span></a>{% endcan %}
      {% can user 'admin' organization=organization %}<a href="{% url edit_document_shelf organization.slug shelf.id %}" class="btn edit_shelf_button"><span>แก้ไขชั้นหนังสือ</span></a>{% endcan %}
    </div>
  {% endif %}
  {% endcomment %}

  {% comment %}
  <div class="upload_dropzone" id="upload_dropzone" style="display:none;">
    <div class="close_panel"><a href="#">ปิดช่องอัพโหลด</a></div>
    <a href="#" class="btn select_files_button" id="select_files_button"><span>เลือกไฟล์</span></a>
    <div class="dragdrop">หรือลากไฟล์มาวางที่กรอบนี้</div>
  </div>
  {% endcomment %}

  <ul id="upload_errors"></ul>
  <ul id="upload_jobs"></ul>

  {% comment %}
  <table class="publications_table" {% if not documents %}style="display:none;"{% endif %}>
    <colgroup>
      <col width=""/>
      <col width="220"/>
      <col width="155"/>
    </colgroup>
    
    <tbody>
      {% for document in documents %}
      <tr id="{{document.publication.uid}}">
        <td class="name">
          <div><a href="{% url view_document document.publication.uid %}">{{document.publication.title}}</a></div>
          <div class="uploaded">อัพโหลดเมื่อ {{document.publication.uploaded|format_abbr_datetime}}</div>
        </td>
        <td class="status">{% print_publication_status document.publication %}</td>
        <td class="table_actions">
          {% if document.publication.status == PUBLICATION_STATUS_UNPUBLISHED and not document.publication.is_publish_when_ready %}<button class="small btn publish_button"><span>เผยแพร่</span></button>{% endif %}
          <a href="{% url edit_document document.publication.uid %}" class="small btn" >แก้ไข</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcomment %}


  {% if not documents %}
  <div class="no_row">ไม่มีไฟล์</div>
  {% endif %}

</div></div>
</div>

<div class="modal hide fade" id="upload-document-modal" style="display:none;">
  <div class="modal-header"><a class="close" href="#">×</a><h3>อัพโหลดไฟล์ไปที่ <em>ชั้นหนังสือธรรมดา</em></h3></div>
  <div class="modal-message"></div>
  <div class="modal-body">
    <div class="upload_dropzone" id="upload_dropzone"><a href="#" class="btn select_files_button" id="select_files_button"><span>เลือกไฟล์</span></a></div>
  </div>
</div>


{% endblock %}