{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block body_title %}
<div class="supertitle">{% for sector in sectors %}<a href="{% url view_sector master_plan.ref_no %}">สำนัก {{sector.ref_no}}</a>{% endfor %}</div>
<div class="title"><h1>แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</h1></div>
{% endblock %}

{% block body_tabs %}
<ul>
  <li class="active"><a href="{% url view_master_plan master_plan.ref_no %}">โครงการที่ดำเนินอยู่</a></li>
  <li><a href="{% url view_master_plan_projects master_plan.ref_no %}">โครงการทั้งหมด</a></li>
</ul>
{% endblock %}

{% block body_content %}
<div class="sector_page">
    <ul class="projects">
      {% for project in current_projects %}
      <li>
        <div class="project_name"><a href="{% url view_project_report project.ref_no %}">({{project.ref_no}}) {{project.name}}</a></div>
        <div><span class="details">รหัสโครงการ <em>{{project.ref_no|default:'ไม่มีข้อมูล'}}</em></span> <span class="details">เลขที่สัญญา <em>{{project.contract_no|default:'ไม่มีข้อมูล'}}</em></span> <span class="details">ระยะเวลาโครงการ <em>{{project.start_date|format_date}}</em> ถึง <em>{{project.end_date|format_date}}</em></span></div>
      </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}