{% extends 'base_authenticated.html' %}


{% block body_title %}<div class="title"><h1>แผนผังองค์กร</h1></div>{% endblock %}

{% block body_content %}
<div class="organization_page">
    <h2>แผนหลัก</h2>
    <ul>
        {% for master_plan in master_plans %}
        <li><a href="{% url view_master_plan master_plan.ref_no %}">แผนหลัก {{master_plan.ref_no}} {{master_plan.name}}</a></li>
        {% endfor %}
    </ul>
    
    <h2>สำนัก</h2>
    <ul>
        {% for sector in sectors %}
        <li><a href="{% url view_sector sector.ref_no %}">สำนัก {{sector.ref_no}} {{sector.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}