{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | รายงาน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='report' %}{% endblock %}

{% block body_content %}
<div class="project_page">

  <ul class="tabs">
    {% manage user project %}
    <li><a href="{% url view_project_outstanding_reports project.ref_no %}">รายงานที่ต้องส่ง</a></li>
    {% else %}
    <li><a href="{% url view_project_recent_reports project.ref_no %}">รายงานฉบับล่าสุด</a></li>
    {% endmanage %}
    
    <li class="active"><a href="{% url view_project_all_reports project.ref_no %}">รายงานทั้งหมด</a></li>
  </ul>
  
  {% if report_assignments %}
  <ul>
    {% for assignment in report_assignments %}
    <li class="report">
      <div class="report_name"><a href="{% url view_project_report project.ref_no assignment.report.id %}">{{assignment.report.name}}</a></div>
      <div class="details">{% print_report_schedule assignment.report %}</div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="no_information">ไม่มีรายงาน</div>
  {% endif %}
</div>
{% endblock %}