{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | รายงาน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='report' %}{% endblock %}

{% block body_content %}
<div class="project_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_project_all_reports project.ref_no %}">รายงานทั้งหมด</a> <span class="divider">/</span></li>
    <li class="active">{{report.name}}</li>
  </ul>

  <h2>{{report.name}}</h2>

  {% if submissions %}
  <ul>
    {% for submission in submissions %}
    <li class="submission">
      <span class="due"><a href="{% url view_report project.ref_no report.id submission.schedule_date|dateid %}">งวดวันที่ {{submission.schedule_date|format_date}}</a></span>
      {% print_schedule_outstanding submission %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="no_information">ไม่พบรายงาน</div>
  {% endif %}
  
</div>
{% endblock %}