{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | รายงาน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='report' %}{% endblock %}

{% block body_content %}
<div class="project_page">

  <ul class="tabs">
    <li class="active"><a href="{% url view_project_reports project.ref_no %}">รายงานที่ต้องส่ง</a></li>
    <li><a href="{% url view_project_all_reports project.ref_no %}">รายงานทั้งหมด</a></li>
  </ul>

  <ul class="working_reports">
    <li>
      <div class="report_name"><a href="#">This is a report name</a></div>
      <div class="status"><span class="due">ฉบับวันที่ 14 ก.พ. 2555</span><span class="normal_status">ยังไม่มีเนื้อหารายงาน</span><span class="warning_status">ยังไม่มีเนื้อหารายงาน</span><span class="critical_status">ยังไม่มีเนื้อหารายงาน</span></div>
    </li>
    <li>
      <div class="report_name"><a href="#">This is a report name - ฉบับวันที่ 14 ก.พ. 2555</a></div>
      <div class="status"><span class="empty_status">ยังไม่มีเนื้อหารายงาน</span></div>
    </li>
  </ul>



  <div class="reports">
    <ul>
      {% for report in reports %}
      <li class="report">
        <h3>{{report.name}}</h3>
        <ul class="submissions">
        {% for submission in report.recent %}
          {% if submission.created %}
            <li><a href="#">รายงานประจำวันที่ {{submission.schedule_date}}</a></li>
          {% else %}
            <li>รายงานประจำวันที่ {{submission.schedule_date}} - <a href="{% url view_report project.id report.id submission.schedule_date|dateid %}">เขียนรายงาน</a></li>
          {% endif %}
          
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}