{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | แผนการเงิน{% endblock %}

{% block html_head %}
{{block.super}}
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}libs/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='{{STATIC_URL}}libs/fullcalendar/fullcalendar.js'></script>

<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>

{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='activity' %}{% endblock %}

{% block body_content %}
<div class="project_activity_page">
  <div id='calendar'></div>
</div>
{% endblock %}