{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | รายงาน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='report' %}{% endblock %}

{% block body_content %}
<div class="project_page">
  {% include 'domain/snippets/project_report_tabs.html' with active_menu='all' %}
  
  {% if report_assignments %}
  <ul>
    {% for assignment in report_assignments %}
    <li class="report">
      <div class="report_name"><a href="{% url view_project_report project.ref_no assignment.report.id %}">{{assignment.report.name}}</a></div>
      <div class="details">{% print_report_schedule assignment.report %}</div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="no_information">ไม่มีรายงาน</div>
  {% endif %}
</div>
{% endblock %}