{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | รายงาน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='report' %}{% endblock %}

{% block body_content %}
<div class="project_report_page">
  <div class="reports">
    <ul>
      {% for report in reports %}
      <li class="report">
        <h3>{{report.name}}</h3>
        <ul class="submissions">
        {% for submission in report.recent %}
          {% if submission.created %}
            <li><a href="#">รายงานประจำวันที่ {{submission.schedule_date}}</a></li>
          {% else %}
            <li>รายงานประจำวันที่ {{submission.schedule_date}} - <a href="{% url view_report project.id report.id submission.schedule_date|dateid %}">เขียนรายงาน</a></li>
          {% endif %}
          
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}