{% extends 'base_authenticated.html' %}
{% load humanize page_tags %}

{% block head_title %}{{block.super}}โครงการ {{project.ref_no}} | แผนการเงิน{% endblock %}

{% block body_title %}{% include 'domain/snippets/project_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/project_tabs.html' with active_menu='budget' %}{% endblock %}

{% block body_content %}
<div class="project_page">
  
  {% if budget_schedules %}
  <table class="budgets-table table table-bordered">
    <thead>
      <tr>
        <th class="cycle">งวดที่</th>
        <th class="budget_date">ช่วงเวลา</th>
        <th class="due_date">วันกำหนดส่ง</th>
        <th class="grant">เงินอนุมัติ</th>
        <th class="claim">เงินเบิกจ่าย</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in budget_schedules %}
      <tr{% if schedule.claimed_on %} class="claimed"{% endif %}>
        <td class="cycle">{{schedule.cycle}}</td>
        <td class="budget_date">{{schedule.start_date|format_abbr_date}} - {{schedule.end_date|format_abbr_date}}</td>
        <td class="due_date">{{schedule.due_date|format_abbr_date}}</td>
        <td class="grant">{{schedule.grant_budget|intcomma}} บาท</td>
        <td class="claim">{{schedule.claim_budget|intcomma}} บาท</td>
        <td>{% if schedule.claimed_on %}เบิกเมื่อวันที่ {{schedule.claimed_on|format_abbr_date}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="no_information">ไม่มีข้อมูลแผนการเงิน</div>
  {% endif %}

</div>
{% endblock %}