{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}{{section.short_abbr_name}} | โครงการทั้งหมด{% endblock %}

{% block body_title %}{% include 'domain/snippets/section_header.html' %}{% endblock %}
{% block body_tabs %}{% include 'domain/snippets/section_tabs.html' with active_menu='all_projects' %}{% endblock %}

{% block body_content %}
<div class="section_page">
  <ul class="tabs">
    {% for year in all_years %}
    <li{% if showing_year == year %} class="active"{% endif %}><a href="{% url view_section_projects_in_year section.ref_no year|add:543 %}">ปี {{year|add:543}}</a></li>
    {% endfor %}
  </ul>

  <h2>โครงการในปี {{showing_year|add:543}}</h2>
  {% if projects %}
  <ul class="projects">
    {% for project in projects %}
    <li>
      <div class="project_name"><a href="{% url view_project project.ref_no %}">({{project.ref_no}}) {{project.name}}</a></div>
      <div><span class="details">รหัสโครงการ <em>{{project.ref_no|default:'ไม่มีข้อมูล'}}</em></span> <span class="details">เลขที่สัญญา <em>{{project.contract_no|default:'ไม่มีข้อมูล'}}</em></span> <span class="details">ระยะเวลาโครงการ <em>{{project.start_date|format_date}}</em> ถึง <em>{{project.end_date|format_date}}</em></span></div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="no_projects">ไม่มีโครงการ</div>
  {% endif %}
</div>
{% endblock %}