{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}เพิ่มผู้ใช้ระบบ{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'management/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_managing_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    <li class="active">เพิ่มผู้ใช้ระบบ</li>
  </ul>
  <h2>สำนักที่สังกัด</h2>

  <form method="POST" action=".">
    {% csrf_token %}
    {{form.non_field_errors}}

    <div class="clearfix"><label for="id_section">สำนักที่สังกัด</label><div class="input row-inputs">{{form.section}}{{form.section.errors}}</div></div>
    
    <div class="form_actions">
      <button type="submit" class="btn primary">เพิ่มผู้ใช้ระบบ</button>
      <button type="reset" class="btn">ล้างข้อมูล</button>
    </div>
  </form>
</div>
{% endblock %}