{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}เพิ่มผู้ใช้ระบบ{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'management/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_managing_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    <li class="active">เพิ่มผู้ใช้ระบบ</li>
  </ul>
  <h2>เพิ่มผู้ใช้ระบบ</h2>

  <ul class="nav nav-tabs">
    <li><a href="{% url add_managing_user %}">กรอกฟอร์มผู้ใช้</a></li>
    <li class="active"><a href="{% url import_managing_users %}">ดึงจากไฟล์ CSV</a></li>
  </ul>

  {% if not import_result %}

    <form method="POST" action="." enctype="multipart/form-data" class="form-horizontal">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="control-group"><label for="id_user_csv" class="control-label">ไฟล์ CSV</label><div class="controls">{{form.user_csv}}{{form.user_csv.errors}}<p class="help-block">ดาวน์โหลดไฟล์สำหรับกรอกข้อมูล - <a href="{{STATIC_URL}}misc/import_users_template.xls">ดาวน์โหลดไฟล์ Excel</a></p></div></div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">เพิ่มผู้ใช้ระบบ</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>
    </form>

  {% else %}
    <div class="page_actions"><a href="{% url view_managing_users %}" class="btn">กลับไปหน้าจัดการผู้ใช้</a></div>
    <h3>ผลลัพธ์การดึงไฟล์ CSV</h3>

    <table class="import_users_result_table">
      <thead>
        <tr>
          <th>#</th>
          <th>อีเมล / ชื่อผู้ใช้</th>
          <th>กลุ่มผู้ใช้</th>
          <th>ผลลัพธ์</th>
        </tr>
      </thead>
      <tbody>
        {% for result in import_result %}

        {% if result.status == 'firstname-missing' %}<tr class="error"><td>{{forloop.counter}}</td><td class="user">{{result.email}}</td><td></td><td>ขาดข้อมูลชื่อผู้ใช้</td></tr>{% endif %}
        {% if result.status == 'lastname-missing' %}<tr class="error"><td>{{forloop.counter}}</td><td class="user">{{result.email}}</td><td></td><td>ขาดข้อมูลนามสกุลผู้ใช้</td></tr>{% endif %}
        {% if result.status == 'section-missing' %}<tr class="error"><td>{{forloop.counter}}</td><td class="user">{{result.email}}</td><td></td><td>ขาดข้อมูลสำนักที่ผู้ใช้สังกัด</td></tr>{% endif %}
        {% if result.status == 'section-invalid' %}<tr class="error"><td>{{forloop.counter}}</td><td class="user">{{result.email}}</td><td></td><td>รหัสสำนักไม่ถูกต้อง</td></tr>{% endif %}
        {% if result.status == 'duplicated' %}<tr><td>{{forloop.counter}}</td><td class="user">{{result.user.email}} ({{result.user.get_profile.get_fullname}})</td><td>{{result.user.get_profile.primary_role.name}}</td><td>มีชื่อผู้ใช้นี้อยู่ในระบบแล้ว</td></tr>{% endif %}

        {% if result.status == 'success' or result.status == 'success-duplicated' %}

          <tr>
            <td>{{forloop.counter}}</td>
            <td class="user">{{result.user.email}} ({{result.user.get_profile.get_fullname}})</td>
            <td>{{result.user.get_profile.primary_role.name}}</td>
            <td>{% if result.status == 'success' %}สร้างผู้ใช้เรียบร้อย{% else %}มีชื่อผู้ใช้นี้อยู่ในระบบแล้ว{% endif %}</td>
          </tr>

          {% if result.project_result %}
            {% for project_result in result.project_result %}
              {% if project_result.status == 'project-invalid' %}<tr class="error"><td></td><td colspan="3">รหัสโครงการ {{project_result.project_ref_no_str}} ไม่ถูกต้อง</td></tr>{% endif %}
              {% if project_result.status == 'duplicated' %}<tr><td></td><td colspan="3">ผู้ใช้รับผิดชอบโครงการ <span title="{{project_result.project.name}}">{{project_result.project.ref_no}}</span> อยู่แล้ว</td></tr>{% endif %}
              {% if project_result.status == 'success' %}<tr><td></td><td colspan="3">เพิ่มโครงการ <span title="{{project_result.project.name}}">{{project_result.project.ref_no}}</span> เป็นโครงการที่รับผิดชอบเรียบร้อย</td></tr>{% endif %}
            {% endfor %}
          {% endif %}

        {% endif %}

        {% endfor %}
      </tbody>
    </table>

  {% endif %}  
</div>
{% endblock %}