{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}แก้ไขผู้ใช้{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'management/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_managing_section_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    <li class="active">แก้ไขผู้ใช้</li>
  </ul>
  <h2>แก้ไขผู้ใช้ {{this_user.get_profile.get_fullname}}</h2>

  <form method="POST" action="." class="form-horizontal">
    {% csrf_token %}
    {{form.non_field_errors}}

    <div class="control-group"><label for="id_email" class="control-label">อีเมล</label><div class="controls">{{form.email}}<p class="help-block">ใช้สำหรับการเข้าสู่ระบบ และการแจ้งเตือนต่างๆ</p>{{form.email.errors}}</div></div>
    <div class="control-group"><label for="id_firstname" class="control-label">ชื่อ</label><div class="controls">{{form.firstname}}{{form.firstname.errors}}</div></div>
    <div class="control-group"><label for="id_lastname" class="control-label">นามสกุล</label><div class="controls">{{form.lastname}}{{form.lastname.errors}}</div></div>
    <div class="control-group"><label for="id_section" class="control-label">สำนักที่สังกัด</label><div class="controls">{{form.section}}{{form.section.errors}}</div></div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
      <button type="reset" class="btn">ล้างข้อมูล</button>
    </div>
  </form>

</div>
{% endblock %}