{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}เพิ่มผู้ใช้ระบบ{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'management/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_managing_section_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    <li class="active">แก้ไขผู้ใช้</li>
  </ul>
  <h2>แก้ไขผู้ใช้ {{this_user.get_profile.get_fullname}}</h2>

  <form method="POST" action=".">
    {% csrf_token %}
    {{form.non_field_errors}}

    <div class="clearfix"><label for="id_email">อีเมล</label><div class="input">{{form.email}}{{form.email.errors}}<div class="help-block">* ใช้สำหรับการเข้าสู่ระบบ และการแจ้งเตือนต่างๆ</div></div></div>
    <div class="clearfix"><label for="id_firstname">ชื่อ</label><div class="input">{{form.firstname}}{{form.firstname.errors}}</div></div>
    <div class="clearfix"><label for="id_lastname">นามสกุล</label><div class="input">{{form.lastname}}{{form.lastname.errors}}</div></div>
    <div class="clearfix"><label for="id_section">สำนักที่สังกัด</label><div class="input row-inputs">{{form.section}}{{form.section.errors}}</div></div>

    <div class="form_actions">
      <button type="submit" class="btn primary">บันทึกข้อมูล</button>
      <button type="reset" class="btn">ล้างข้อมูล</button>
    </div>
  </form>


</div>
{% endblock %}