{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}เพิ่มผู้ใช้ระบบ{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'management/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    {% if this_user.get_profile.is_section_staff %}
    <li><a href="{% url view_managing_section_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    {% endif %}

    {% if this_user.get_profile.is_project_manager %}
    <li><a href="{% url view_managing_project_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    {% endif %}

    <li class="active">รหัสผ่านผู้ใช้</li>
  </ul>

  <div class="page_actions">
    <form action="." method="POST">{% csrf_token %}<button type="submit" class="btn">ส่งอีเมลรหัสผ่านให้ผู้ใช้อีกครั้ง</button></form>
  </div>

  <div class="added_user">
    <ul>
      <li>อีเมลผู้ใช้: <em>{{this_user.get_profile.email}}</em></li>
      <li>รหัสผ่าน: <em>{{this_user.get_profile.random_password}}</em></li>
    </ul>
    <div>* รหัสผ่านนี้ใช้สำหรับการเข้าสู่ระบบครั้งแรกเท่านั้น</div>

    <div class="buttons">
      {% if this_user.get_profile.is_section_staff %}<a href="{% url view_managing_section_users %}">&#171; กลับไปหน้าจัดการผู้ใช้</a>{% endif %}
      {% if this_user.get_profile.is_project_manager %}<a href="{% url view_managing_project_users %}">&#171; กลับไปหน้าจัดการผู้ใช้</a>{% endif %}
    </div>
  </div>
</div>
{% endblock %}