{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}เพิ่มผู้ใช้ระบบ{% endblock %}

{% block body_title %}<div class="title"><h1>การจัดการระบบ</h1></div>{% endblock %}

{% block body_tabs %}{% include 'domain/admin/snippets/admin_tabs.html' with active_menu='user' %}{% endblock %}

{% block body_content %}
<div class="admin_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_manage_users %}">จัดการผู้ใช้</a> <span class="divider">/</span></li>
    <li class="active">เพิ่มผู้ใช้ระบบ</li>
  </ul>
  <h2>เพิ่มผู้ใช้ระบบ</h2>

  <ul class="tabs">
    <li><a href="{% url view_manage_users_add %}">กรอกฟอร์มผู้ใช้</a></li>
    <li class="active"><a href="{% url view_manage_users_import %}">ดึงจากไฟล์ CSV</a></li>
  </ul>

  <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_errors}}

    <div class="clearfix">
      <label for="id_user_csv">ไฟล์ CSV</label>
      <div class="input">{{form.user_csv}}{{form.user_csv.errors}}</div>
    </div>

    <div class="form_actions">
      <button type="submit" class="btn primary">เพิ่มผู้ใช้ระบบ</button>
      <button type="reset" class="btn">ล้างข้อมูล</button>
    </div>
  </form>

  <div class="user_import_guide">
    <h3>วิธีการสร้างไฟล์ CSV</h3>

    <ol>
      <li>สร้างไฟล์ Excel ที่มีข้อมูลผู้ใช้ดังรูป</li>
    </ol>

  </div>
</div>
{% endblock %}