<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>ThaiHealth SMS | {% block head_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
  <script type="text/javascript" src="{{STATIC_URL}}libs/jquery-1.7.1.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}libs/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="{{STATIC_URL}}libs/bootstrap/js/bootstrap.min.js"></script>

  {% block html_head %}{% endblock %}

  <script type="text/javascript" src="{{STATIC_URL}}libs/less-1.1.3.min.js"></script>
  
</head>
<body class="yui-skin-sam">
{% block body %}{% endblock %}
</body>
</html>
