{% extends 'base.html' %}

{% block head_title %}{% endblock %}

{% block html_head %}
{{block.super}}

<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/styles.single.less">
<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
{% endblock %}

{% block body %}
<div class="logo"><a href="/">Thai Health Strategy Management Systems</a></div>

<div class="container">
  <div class="row">
    <div class="span8 offset4 single-content">
      <div class="content-inner">{% block body_single %}{% endblock %}</div>
    </div>
  </div>
</div>
{% endblock %}