{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}หน้าแรกผู้ใช้{% endblock %}

{% block body_title %}<div class="title"><h1>การติดตามรายงาน</h1></div>{% endblock %}

{% block html_head %}
{{block.super}}
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}libs/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='{{STATIC_URL}}libs/fullcalendar/fullcalendar.js'></script>

<script>
$(document).ready(function() {
    $('.edit_responsible_projects input[type="checkbox"]').on('click', function(e) {
      var input_object = $(this);
      var project_id = $(this).val();
      var action;

      if($(this).attr('checked')) {
        action = 'add';
      } else {
        action = 'remove';
      }

      $.post('{% url ajax_edit_responsible_project %}', {action:action, project_id:project_id}, function(response) {
        if(response.status == 'error') {
          if(response.error == 'project-notfound') {alert('ไม่พบโครงการนี้ในระบบ');}
          if(response.error == 'action-notfound') {alert('คำสั่งไม่ถูกต้อง');}

          input_object.attr('checked', !input_object.attr('checked'));
        }
      }, 'json');
    });
});
</script>

{% endblock %}

{% block body_content %}
<div class="dashboard_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_user_dashboard %}">ติดตามรายงาน</a> <span class="divider">/</span></li>
    <li class="active">แก้ไขโครงการที่รับผิดชอบ</li>
  </ul>
  <h2>แก้ไขโครงการที่รับผิดชอบ</h2>

  <div class="edit_responsible_projects">
    <h3>โครงการที่ดำเนินอยู่</h3>
    {{form.active_projects.errors}}
    {{form.active_projects}}
  
    <h3>โครงการอื่นๆ</h3>
    {{form.other_projects.errors}}
    {{form.other_projects}}
  </div>

</div>
{% endblock %}