{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}{{block.super}}หน้าแรกผู้ใช้{% endblock %}

{% block body_title %}<div class="title"><h1>การติดตามรายงาน</h1></div>{% endblock %}

{% block body_content %}
<div class="dashboard_page">
  <div class="page_actions"><a href="{% url edit_section_assistant_responsible_projects %}" class="btn">แก้ไขโครงการที่รับผิดชอบ</a></div>

  <ul class="nav nav-tabs">
    <li><a href="{% url view_section_assistant_unsubmitted_dashboard %}">รายงานที่ยังไม่ได้ส่ง</a></li>
    <li class="active"><a href="{% url view_section_assistant_submitted_dashboard %}">รายงานที่ส่งแล้ว</a></li>
  </ul>

  <div class="report_followup">
    {% if submitted_submissions %}
      <ul>
        {% for submission in submitted_submissions %}
        <li>
          <div>
            <span class="due"><a href="{% url view_report submission.project.ref_no submission.report.id submission.schedule_date|dateid %}">{{submission.report.name}} - งวดวันที่ {{submission.schedule_date|format_date}}</a></span>
            {% print_schedule_outstanding submission %}
          </div>
          <div class="project"><a href="{% url view_project submission.project.ref_no %}">โครงการ ({{submission.project.ref_no}}) {{submission.project.name}}</a></div>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="no_information">ยังไม่มีรายงานที่ส่งแล้ว</div>
    {% endif %}
  </div>
  
</div>
{% endblock %}