{% extends 'base_authenticated.html' %}

{% block head_title %}{{block.super}}หน้าแรกผู้ใช้{% endblock %}

{% block body_title %}<div class="title"><h1>โครงการที่รับผิดชอบ</h1></div>{% endblock %}

{% block body_content %}
<div class="dashboard_page">
    <h2>โครงการที่รับผิดชอบ</h2>
    <ul class="lists">
        {% for user_project in user_projects %}
        <li>
          <a href="{% url view_project user_project.project.ref_no %}">โครงการ ({{user_project.project.ref_no}}) {{user_project.project.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}